// @flow

import React from 'react';
import { storiesOf } from '@storybook/react';
// import { action } from '@storybook/addon-actions';

import {{ properCase name }} from '{{ routes }}/components/{{ properCase name}}';

storiesOf('Basic', module).add('{{properCase name}}', () => (
	<div>
		<h5>{{properCase name}} component</h5>
		<{{properCase name}} />
	</div>
));